:root {
    /* === Cover / Landing area === */
    --cover-text-color: rgb(0, 48, 91);
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #4f8abb;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: white 0px 0px 7px;

    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: var(--highlight);

    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #3a4145;
    /* Light section - background color */
    --section-light-bg-color: #cbcbcd;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: rgb(0, 48, 91);

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* === Single pages=== */
    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    /* === Footer === */
    --footer-color-background: #22343a;
    --footer-color: #bbc7cc;

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    --ul-li-icon: fa-circle;
}

/* FIXME: This is not the right place for this! */

div.service-section {
    display: flex;
    flex-flow: row wrap;
}
div.service-section-item {
    background-color: white;
    flex: 1;
    min-width: 170px;

    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;

    & img {
        margin: auto;
        border-radius: 1em;
    }

    & h3 {
        margin-top: 1em;
        font-size: 2.5rem;
        text-align: center;
    }

    & p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 992px) {
    .post {
        max-width: 66.66% !important;
    }
}

iframe {
    border-radius: 1em;
}

article#client-showcase {
  & ul {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }
  & li {
    flex: 1;
    margin: 1em;
    min-width: 147px;

    & span {
      display: none;
    }
  }
}
